* {
  margin: 0;
  padding: 0;
}

.page,
.section,
body {
  background-color: black;
  background: black;
  color: white;
  font-family: 'Courier Prime', monospace;
}

.pageHolder {
  background-color: black;
}

.section {
  border-top: 1px outset #333333;
  padding-top: 20px;
  background-color: black;
}

li {
  margin-left: 45px;
}

.navbar-brand {
  height: 50px;
  margin-top: 10px;
}

#brandImage {
  width: 100%;
  margin: 0 auto;
  transition: .2s;
}

.page {
  min-height: 100vh;
  background-color: black;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

.footer {
  width: 100%;
  display: flex;
  background-color: #343a40;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-group p {
  color: #FFFFFF;
  font-size: 25px;
}

.footer-group {
  padding: 30px 30px;
  font-size: 25px;
}

.imgDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  ;
}

.imgDisplay img {
  width: 100%;
}

img {
  width: 100%;
}

h1,
p,
img {
  padding: 10px 10px;
  ;
}

.contentHolder {
  display: flex;
  flex-direction: column;
}

.gal-container {
  column-count: 1;
}

.gal-container img {
  width: 100%;
}

.textHolder p {
  text-indent: 20px;
  font-size: 20px;
}

#china-pic {
  width: 100%;
  padding-bottom: 10px;
}

@media screen and (min-width: 1079px) {
  img {
    width: 25%;
  }

  .gal-container {
    column-count: 4;
  }

  .contentHolder {
    flex-direction: row;
  }

  .imgDisplay img {
    width: 35%;
    padding: 25px 25px;
  }

  body {
    background-color: black;
  }

  #brandImage {
    width: 90%;
  }

  .page {
    width: 75%;
    margin: 0 auto;
  }
}